.certificates > ul {
  padding: 0px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.certificates a {
  color: rgb(16 175 132);
  text-decoration: none;
  padding: 2px;
  font-weight: bold;
}
.certificates a:hover,
.certificates a:active {
  border-bottom: 2px solid goldenrod;
}
.p-link {
  margin: 15px 5px;
}
